[submodule "lib/Adafruit_BluefruitLE_nRF51"]
	path = lib/Adafruit_BluefruitLE_nRF51
	url = https://github.com/siyka-au/Adafruit_BluefruitLE_nRF51
[submodule "lib/LS7366"]
	path = lib/LS7366
	url = https://github.com/siyka-au/LS7366
